aiocsv
aiodns
aiofiles
aiohttp
aiometer
aiosignal
amqp
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
asyncio
attrs
babel
beautifulsoup4
bibtexparser
billiard
black
bleach
brotli
celery
cerberus
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
comm
contourpy
cryptography
currencyconverter
cycler
debugpy
decorator
defusedxml
django
django-ajax-datatable
django-allauth
django-celery-results
django-cors-headers
django-data-browser
django-debug-toolbar
django-extensions
django-ninja
django-pandas
django-prettyjson
django-query-profiler
django-readers
django-redis
django-serverside-datatable
django-sonar
django-sql-explorer
dnspython
docutils
email-validator
et-xmlfile
executing
fastjsonschema
feedparser
fonttools
fqdn
frozenlist
fuzzywuzzy
greenlet
h11
habanero
httpcore
httpx
hyperlink
idna
iommi
ipykernel
ipython
isoduration
isort
itsdangerous
jedi
jellyfish
jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-visualpython
kiwisolver
kolo
kombu
levenshtein
linkify-it-py
loguru
lxml
marimo
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
mmh3
mo-dots
mo-future
mo-imports
mo-parsing
mo-sql-parsing
more-itertools
motor
msgpack
multidict
mypy-extensions
nameparser
nbclient
nbconvert
nbformat
nest-asyncio
ninja-schema
nltk
notebook
notebook-shim
numpy
oauthlib
openpyxl
openpyxl-dictreader
orjson
overrides
packaging
pandas
pandocfilters
parso
pathspec
pillow
platformdirs
playwright
plotly
polyfuzz
prometheus-client
prompt-toolkit
psutil
psycopg
psycopg-binary
pure-eval
pyalex
pybliometrics
pycares
pycparser
pydantic
pydantic-core
pyee
pygments
pyjwt
pymdown-extensions
pymongo
pymupdf
pymupdfb
pyparsing
python-dateutil
python-dotenv
python-json-logger
python-levenshtein
python3-openid
pytz
pywin32
pywinpty
pyyaml
pyzmq
pyzotero
rapidfuzz
redis
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rispy
rpds-py
scikit-learn
scipy
seaborn
send2trash
setuptools
sgmllib3k
six
skrub
slippers
sniffio
soupsieve
sqlparse
stack-data
standardjson
starlette
tenacity
termcharts
terminado
textual
threadpoolctl
tinycss2
tomlkit
toolz
tornado
tqdm
traitlets
typeguard
types-python-dateutil
typing-extensions
tzdata
uc-micro-py
ulid-py
unidecode
uri-template
urllib3
uvicorn
vine
wcwidth
webcolors
webencodings
websocket-client
websockets
win32-setctime
xlsxwriter
xmltodict
yarl
