{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
	<div id="table-header" class="row d-flex justify-content-center text-center">
		<div id="table-title" class="col-md-4">
			<h2>Detailed article data</h2>
		</div>
		<div id="download-button" class="col-md-4">
			<a class="btn btn-primary" href="{% url 'PureOpenAlex:downloadCSV' %}"><i class="fas fa-download"></i>
				(NOT WORKING YET)Download article data
			<a>
		</div>

	</div>
</div>
<!-- The main table. First define headers, then the basic row, then each expansion field. -->
<div id="articles-container" class="row">
	<table class="table table-hover p-3 text-center">
		<thead>
			<tr>
				<th>DOI</th>
				<th>Title</th>
				<th>Year</th>
				<th colspan='3'>Expand details</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<div class="container" id="accordion">
				{% for article in articles %}
				<tr> <!-- Main row before expansion -->
					<td><a href="{{ article.doi }}">{{ article.doi }}</a></td>
					<td>{{ article.title  }}</td>
					<td>{{ article.year  }}</td>
					<td>
						<button class="btn btn-success" role="button" data-mdb-ripple-init data-mdb-collapse-init
							data-mdb-toggle="collapse" data-mdb-target="#miscrow-{{ article.id }}"
							id="expand-{{ article.id }}">
							General <i class="fas fa-circle-info"></i>
						</button>

						<button class="btn btn-warning" role="button" data-mdb-ripple-init data-mdb-collapse-init
							data-mdb-toggle="collapse" data-mdb-target="#authrow-{{ article.id }}"
							id="expand-{{ article.id }}">
							Authors <i class="fas fa-graduation-cap"></i>
						</button>
					</td>
					<td>
						<button class="btn btn-info" role="button" data-mdb-ripple-init data-mdb-collapse-init
							data-mdb-toggle="collapse" data-mdb-target="#locrow-{{ article.id }}"
							id="expand-{{ article.id }}">
							Locations <i class="fas fa-building-columns"></i>
						</button>

						<button class="btn btn-primary" role="button" data-mdb-ripple-init data-mdb-collapse-init
							data-mdb-toggle="collapse" data-mdb-target="#oarow-{{ article.id }}"
							id="expand-{{ article.id }}">
							Open Access <i class="fas fa-lock-open"></i>
						</button>
					</td>
					<td>
						<button class="btn btn-secondary" role="button" data-mdb-ripple-init data-mdb-collapse-init
							data-mdb-toggle="collapse" data-mdb-target="#conceptrow-{{ article.id }}"
							id="expand-{{ article.id }}">
							Concepts+Abstract <i class="fas fa-receipt"></i>
						</button>
					</td>
					<td>
						<a class="btn btn-danger " href="{% url 'PureOpenAlex:delete_paper' article.id %}">
							<i class="fas fa-times"></i>
						</a>
					</td>
				</tr>
				<tr> <!-- Links, general, journal row --> 
					<td colspan="8" class="accordion-collapse collapse " data-mdb-parent="#accordion"
						id="miscrow-{{ article.id }}">
						<div class="card-group">
							<div class="card" id="links-{{ article.id }}">
								<div class="card-header text-warning fs-4">
									Links
								</div>
								<div class="card-body">
									<ul class="list-group list-group-light">
										<li class="list-group-item">
											<div>
												<div class="fw-bold">DOI</div>
												<div><a href="{{ article.doi }}">{{ article.doi }}</a></div>
											</div>
										</li>
										<li class="list-group-item ">
											<div>
												<div class="fw-bold">OpenAlex</div>
												<div> <a
														href="{{ article.openalex_url }}">{{ article.openalex_url }}</a>
												</div>
											</div>
										</li>
										<li class="list-group-item ">
											<div>
												<div class="fw-bold">Primary</div>
												<div> <a href="{{ article.primary_link }}">
														{{ article.primary_link }}</a></div>
											</div>
										</li>
										<li class="list-group-item ">
											<div>
												<div class="fw-bold">PDF locations</div>
												{% for location in article.locations.all %}
												{% if location.pdf_url != "" %}
												<div><a href="{{ location.pdf_url }}"
														class="{% if location.is_oa %} link-success {% endif %}"> Hosted
														by {{location.source.host_org}} ({{location.source.type}})
														{% if location.is_oa %}<i class="fas fa-lock-open"></i>
														{% endif %}{% if location.is_primary %}<i
															class="far fa-star"></i> {% endif %}</a></div>
												{% endif %}
												{% endfor %}
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="card" id="main-info-{{ article.id }}">
								<div class="card-header text-warning fs-4">
									General
								</div>
								<div class="card-body">
									<ul class="list-group list-group-light">
										<li class="list-group-item">
											<div class="fw-bold">Date</div>
											<div> {{ article.date }}</div>
										</li>
										<li class="list-group-item">
											<div class="fw-bold">Item Type</div>
											<div> {{ article.itemtype }}</div>
										</li>
										<li class="list-group-item">
											<div class="fw-bold">Language</div>
											<div> {{ article.language }}</div>
										</li>
										<li class="list-group-item">
											<div class="fw-bold"># of citations</div>
											<div> {{ article.citations }}</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="card" id="journal-info-{{ article.id }}">
								<div class="card-header text-warning fs-4">
									Journal
								</div>
								<div class="card-body">
									<ul class="list-group list-group-light">
										<li class="list-group-item">
											<div class="fw-bold">Journal</div>
											<div>{{ article.journal.name }}</div>
										</li>
										<li class="list-group-item">
											<div class="fw-bold">ISSN</div>
											<div>{{ article.journal.issn }}</div>
										</li>
										<li class="list-group-item">
											<div class="fw-bold">Publisher</div>
											<div>{{ article.journal.host_org }}</div>
										</li>
										<li class="list-group-item">
											<div class="fw-bold">Pages</div>
											<div>{{ article.pagescount }} in total</div>
											<div>{{ article.pages }}</div>
										</li>
										<li class="list-group-item">
											<div class="fw-bold">Issue</div>
											<div>{{ article.issue }}</div>
										</li>
										<li class="list-group-item">
											<div class="fw-bold">Volume</div>
											<div>{{ article.volume }}</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					</td>
				</tr>
				<tr> <!-- Authors -->
					<td colspan="8" class="accordion-collapse collapse " data-mdb-parent="#accordion"
						id="authrow-{{ article.id }}">
						<div class="card-group">
							<div class="card" id="author-info-{{ article.id }}">
								<div class="card-header text-warning fs-4">
									Authors
								</div>
								<div class="card-body">
									<div class="container"
									style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: auto; grid-gap: 10px; ">
										{% for author in article.authors.all %}
										{% for authorship in author.authorships.all %}
										{% if authorship.paper == article %}
										<div class="row ">
											<div>
												{% if author.is_ut %}
												{% for utdata in author.utdata_set.all %}
												<div>
													<a href="mailto:{{utdata.email}}">
														<i class="fas fa-envelope fa-lg"></i>
														<span
															class="badge rounded-pill badge-notification bg-danger">UTMail</span>
													</a>
												</div>

												<div class=" fw-bold badge badge-info rounded-pill">{{utdata.job_title}}
												</div>
												{% for department in utdata.departments.all %}
												<div class=" badge badge-secondary rounded-pill">{{department.name}}
													({{department.faculty}})</div>
												{% endfor %}
												{% endfor %}
												{% else %}
												<div class=" badge badge-danger rounded-pill">No UT data found</div>
												{% endif %}
											</div>
										</div>
										<div class="row ">
											<div>{{ author.name }}</div>
											<div>
												{% if authorship.corresponding %} <div
													class="badge badge-success rounded-pill">corresponding</div>{% endif %}
												<span class="badge badge-info rounded-pill">{{ authorship.position }}
													author</span>
											</div>
										</div>
										<div class="row">
											<div><i class="fas fa-building-columns"></i> Affiliations</div>
											<div>
												{% for affiliation in author.affiliations.all %}
												<div class="badge badge-info">{{ affiliation.name }}</div>
												{% endfor %}
											</div>
										</div>
										<hr class="hr hr-blurry" style="grid-column: 1/-1;" />
										{% endif %}
										{% endfor %}
										{% endfor %}
									</div>
							</div>
						</div>
					</td>
				</tr>
				<tr> <!-- Locations -->
					<td colspan="8" class="accordion-collapse collapse" data-mdb-parent='#accordion'
						id="locrow-{{ article.id }}">
						<div class='card-group'>
							<div class="card" id="location-info-{{ article.id }}">
								<div class="card-header text-warning fs-4">
									Locations
								</div>
								<div class="card-body">
									<ul class="list-group list-group-light">
										{% for location in article.locations.all %}
										<li class="list-group-item fs-6">
											<div class="d-flex justify-content-center">
												{% if location.is_primary %}
												<div class="badge fs-6 rounded-pill badge-primary">
													Primary location
												</div>
												{% endif %}
												{% if location.is_best_oa %}
												<div class="badge fs-6 rounded-pill badge-success">
													Best OA Location
												</div>
												{% endif %}
											</div>
											<div class="d-flex justify-content-center">
												{% if location.is_accepted or location.is_published %}
												<div class="badge rounded-pill badge-primary"> <i class="fas fa-check"></i>
													Publisher accepted</div>
												{% endif %}
												{% if location.is_oa %}
												<div class="badge rounded-pill badge-success"> <i
														class="fas fa-lock-open"></i> Open Access </div>
												{% endif %}
												{% if location.source.is_in_doaj %}
												<div class="badge rounded-pill badge-info"> <i class="fas fa-leaf"></i> DOAJ
												</div>
												{% endif %}
											</div>
											<h5>{{location.source.display_name}}</h5>
											<a
												href="{{ location.source.homepage_url }}">{{ location.source.homepage_url }}</a>
											{% if location.source.host_org %}
											{% if 'journal' in location.source.type %}
											<div>Journal published by {{location.source.host_org}}</div>
											{% elif 'repository' in location.source.type %}
											<div>Repository hosted by {{location.source.host_org}}</div>
											{% else %}
											<div>{{location.source.type}} published by {{location.source.host_org}}</div>
											{% endif %}
											{% if location.source.issn %}
											<div> ISSN: {{location.source.issn}}</div>
											{% endif %}
											{% endif %}
											<div class="fw-bold"><i class="fas fa-book-open"></i> Landing page</div>
											<div><a
													href="{{ location.landing_page_url }}">{{ location.landing_page_url }}</a>
											</div>
											<div class="fw-bold"><i class="fas fa-database"></i> OpenAlex</div>
											<div><a
													href="{{ location.openalex_url }}">{{ location.source.openalex_url  }}</a>
											</div>

											{% if location.license %}
											<div><span class="fw-bold">License: </span><span>{{location.license}}</span>
											</div>
											{%endif%}

										</li>
										{% endfor %}

									</ul>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr> <!-- OA Info-->
					<td colspan="8" class="accordion-collapse collapse " data-mdb-parent="#accordion"
						id="oarow-{{ article.id }}">
						<div class="card-group">
							<div class="card " id="oa-info-{{ article.id }}">
								<div class="card-header text-warning fs-4">
									OA info
								</div>
								<div class="card-body">
									<ul class="list-group list-group-light">
										<li
											class="list-group-item {% if article.is_oa %} bg-success {% else %} bg-warning {% endif %}">
											<div>
												{% if article.openaccess == "green" %}
												<span class="badge rounded-pill badge-success"><i class="fas fa-tree"></i>
													{{ article.openaccess }}</span>
												{% endif %}
												{% if article.openaccess == "gold" %}
												<span class="badge rounded-pill badge-warning"><i class="fas fa-crown"></i>
													{{ article.openaccess }}</span>
												{% endif %}

												{% if article.openaccess == "bronze" %}
												<span class="badge rounded-pill badge-warning"><i class="fas fa-medal"></i>
													{{ article.openaccess }}</span>
												{% endif %}

												{% if article.openaccess == "closed" %}
												<span class="badge rounded-pill badge-secondary"><i class="fas fa-lock"></i>
													{{ article.openaccess }}</span>
												{% endif %}

												{% if article.openaccess == "hybrid" %}
												<span class="badge rounded-pill badge-info"><i
														class="fas fa-mortar-pestle"></i> {{ article.openaccess }}</span>
												{% endif %}
											</div>
											<div><span class="fw-bold">Open Access?</span><span> {{ article.is_oa }}</span>
											</div>
											<div><span class="fw-bold">License:</span><span>
													{%if "cc" in article.license %}<i
														class="fab fa-creative-commons"></i>{% endif %}
													{{ article.license }}</span></div>
										</li>
										<li class="list-group-item">
											<h5>APC Costs</h5>
											<h6>Note: data can be unreliable</h6>
											<ul class="list-unstyled">
												<li class="mb-1">
													<div class="fw-bold">Listed Value </div>
													<div><i
															class="fas fa-euro-sign me-2 text-warning">{{ article.apc_listed_value_eur }}</i>
														<i
															class="fas fa-dollar-sign me-2 text-warning">{{ article.apc_listed_value_usd }}</i>
													</div>
													<div><i class="fas fa-receipt me-2 text-warning"></i>Original value:
														{{ article.apc_listed_value }} in
														{{article.apc_listed_currency}}</i></div>
												</li>
												<li class="mb-1">
													<div class="fw-bold">Paid Value </div>
													<div><i
															class="fas fa-euro-sign me-2 text-danger">{{ article.apc_paid_value_eur }}</i>
														<i
															class="fas fa-dollar-sign me-2 text-danger">{{ article.apc_paid_value_usd }}</i>
													</div>
													<div><i class="fas fa-receipt me-2 text-danger"></i>Original value:
														{{ article.apc_paid_value }} in {{article.apc_paid_currency}}</i>
													</div>
												</li>
											</ul>
										</li>
										<li class="list-group-item">
											<h5>Deal data</h5>
											{% for deal in article.journal.dealdata_set.all %}
											<ul class="list-unstyled">
												<li class="mb-1"><span class="fw-bold"> {{ deal.publisher }}</li>
												<li class="mb-1"><span class="fw-bold">{{ deal.deal_status }}</span></li>
												<li class="mb-1"><a href="{{ deal.jb_url }}">Journal Browser link</a></li>

												<li class="mb-1">{% if deal.oa_type == "green" %}
													<span class="badge rounded-pill badge-success"><i
															class="fas fa-tree"></i> {{ deal.oa_type }}</span>
													{% endif %}
													{% if deal.oa_type == "gold" %}
													<span class="badge rounded-pill" style="background-color: #ffd700"><i
															class="fas fa-crown"></i> {{ deal.oa_type }}</span>
													{% endif %}
													{% if deal.oa_type == "bronze" %}
													<span class="badge rounded-pill" style="background-color: #cd7f32"><i
															class="fas fa-medal"></i> {{ deal.oa_type }}</span>
													{% endif %}
													{% if deal.oa_type == "closed" %}
													<span class="badge rounded-pill badge-secondary"><i
															class="fas fa-lock"></i> {{ deal.oa_type }}</span>
													{% endif %}
													{% if deal.oa_type == "hybrid" %}
													<span class="badge rounded-pill badge-info"><i
															class="fas fa-mortar-pestle"></i> {{ deal.oa_type }}</span>
													{% endif %}</li>
											</ul>
											{% endfor %}
										</li>

									</ul>
								</div>
							</div>

						</div>
					</td>
				</tr>
				<tr> <!-- Abstract & Keywords-->
					<td colspan="8" class="accordion-collapse collapse " data-mdb-parent="#accordion"
						id="conceptrow-{{ article.id }}">
						<div class='card-group'>
							<div class="card" id="abstract-{{ article.id }}">
								<div class="card-header text-warning fs-4">
									Abstract
								</div>
								<div class="card-body">
									{% if article.abstract %}
									{{ article.abstract }}
									{% else %}
									No abstract found.
									{% endif %}
								</div>
							</div>
							<div class="card" id="concept-info-{{ article.id }}">
								<div class="card-header text-warning fs-4">
									Concepts & keywords
								</div>
								<div class="card-body">
									<ul class="list-group list-group-light">
										<li class="list-group-item">
											<div class="fw-bold"><span class="text-success">Article</span> Concepts</div>
											{% for concept in article.concepts.all %}
											<span>{{ concept.concept }}, </span>
											{% endfor %}
										</li>
										<li class="list-group-item">
											<div class="fw-bold"><span class="text-success">Article</span> Keywords</div>
											{% for keyword in article.keywords.all %}
											<span>{{ keyword.keyword }}, </span>
											{% endfor %}
										</li>
										{% for location in article.locations.all %}
										{% if location.source.concepts.all|length > 1 %}
										<li class="list-group-item">
											<div class="fw-bold">Concepts related to {{location.source.type}} <span
													class="text-warning">{{location.source.display_name}}</span></div>
											{% for concept in location.source.concepts.all %}
											<span>{{concept.concept}}, </span>
											{% endfor %}
										</li>
										{% endif %}
										{% endfor %}
								</div>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</div>
		</tbody>
	</table>
</div>


{% endblock %}