{% extends 'base.html' %}
{% block content %}
{% spaceless %}
<div class="row row-cols-2 align-items-center justify-content-center row-cols-md-2 g-4 ">
    <div class='todo col-12 badge badge-danger fs-4'>TODO: fix the field for this table in the template</div>
    <div class='todo col-12 badge badge-danger fs-4'>TODO: add proper server-side pagination, search, sort, filter in views.py</div>
    {% if faculty == 'Marked papers' %}
    <h4 class="col-md-12 text-center text-success ps-5 mb-0"><hr class="hr hr-blurry" />
        Workspace <hr class="hr hr-blurry" />
    </h4>      
    <div class="container-fluid justify-content-center align-items-center  w-50">
        <div id="doi-input" class="card justify-content-center ">
            <div class="card-header bg-warning bg-gradient " style="--mdb-bg-opacity: 0.9;">
                <h5 class="text-black ps-5 mb-0"><i class="far fa-keyboard"></i>  |  Control Panel</h5>
            </div>
            <div class="card-body text-dark bg-secondary bg-gradient" style="--mdb-bg-opacity: 0.4;">
                <form id="myForm">
                    <div class="form-outline" data-mdb-input-init>
                        {% csrf_token %}
                        <input type="text" class="form-control" id="doi" name="doi" />
                        <label class="form-label" id="doi-label" for="doi">Enter a DOI</label>
                    </div>
                    <div class="visually-hidden form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="scrape_people" value="scrape_people" checked />
                        <label class="form-check-label" for="scrape_people">Scrape faculty data from people.utwente.nl? </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="recheck" value="recheck" />
                        <label class="form-check-label" for="recheck">Refresh data from APIs, even if paper already in the database</label>
                    </div>
                    <div>
                        <button type="submit" id="doi-search" class="me-2 btn btn-info">
                            <i id="searchicon" class="fas fa-magnifying-glass"></i>
                            <span id="searchtext" class="">Search for doi to mark or add </span>
                            <span id="loadingspinner" class="spinner-border spinner-border-sm visually-hidden" role="status"
                                aria-hidden="true"></span>
                            <span id="loadingtext" class="visually-hidden"> Loading...</span>
                        </button>
                        <a type='button' class="btn btn-warning" href="{% url 'PureOpenAlex:removeallmarks' %}">
                            <i class="fas fa-recycle"></i> Remove all current marks from papers
                        </a>
                        <a href="{% url 'PureOpenAlex:home' %}" class="btn btn-danger">Go back to main page</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% else %}
    <h4 class="col-md-12 text-center text-primary ps-5 mb-0">
        <hr class="hr hr-blurry" />
        Overview for {{faculty}} 
        <hr class="hr hr-blurry" />
    </h4>     
    <div class="container-fluid justify-content-center align-items-center  w-50">
        <div id="doi-input" class="card justify-content-center ">
            <div class="card-header bg-warning bg-gradient " style="--mdb-bg-opacity: 0.9;">
                <h5 class="text-black ps-5 mb-0">
                    <i class="far fa-keyboard"></i>  |  Control Panel
                </h5>
            </div>
            <div class="card-body text-dark bg-secondary bg-gradient" style="--mdb-bg-opacity: 0.4;">
                <p>This list contains {{stats.num}} items, of which {{stats.numoa}} are OA ({{stats.oa_percent}}%)</p>
                <p>{{stats.numpure}} of all these items have links to UT's RIS Pure in OpenAlex <span class='text-danger'>({{stats.numpure_percent}}%)</span>. </p>
                <p>{{stats.numarticles}} items have itemtype 'journal-article', of which {{stats.numarticlesoa}} are OA ({{stats.oa_percent_articles}}%) and {{stats.articlesinpure}} have links to UT's RIS Pure in OpenAlex <span class='text-danger'>({{stats.articlesinpure_percent}}%)</span>.</p>
                <a href="{% url 'PureOpenAlex:home' %}" class="btn btn-danger">Go back to main page</a>
            </div>
        </div>
    </div>

    {% endif %}

<div class=" container-fluid w-50 align-items-center" >
    <div class="mt-4 mb-2  rounded-top-3 pt-3 pb-1 ps-5 bg-primary bg-gradient text-light">
        <h5><i class="fas fa-message"></i>  |  Notifications</h5>
    </div>
    <div class="text-wrap text-info fw-bold rounded-bottom-3 pt-5 pb-5 mt-4 mb-2 ps-3  " id="notification">
    </div>
</div>
</div>

<div class="pt-5 text-center">
    <span class="step-links">
        {% if articles.has_previous %}
        <span class=" badge badge-danger rounded-pill ">
            <a href="?page=1">&laquo; first</a> |
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        </span>

        {% endif %}

        <span class=" badge badge-info rounded-pill fs-6 ">
           - Page {{ articles.number }} of {{ articles.paginator.num_pages }} -
        </span>

        {% if articles.has_next %}
        <span class=" badge badge-success rounded-pill ">

            <a href="?page={{ articles.next_page_number }}">next</a> |
            <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
        </span>
        {% endif %}
    </span>
</div>


</div>
<table id="facultytable">
<thead>
    <th>add/remove mark</th>
    <th>details</th>
    <th>doi</th>
    <th>title</th>
    <th>year</th>
    <th>item type</th>
    <th>oa type</th>
    <th>pure link in OpenAlex?</th>
    <th>found in OAI-PMH?</th>
    <th>locations</th>
    <th>author(s)</th>
    <th>departments</th>
</thead>
<tbody>
    {% for article in articles %}
        <tr>
            <td id="{{article.id}}-mark">
                {% if article.marked %}
                <span class="visually-hidden d-flex badge badge-danger p-3 rounded-4 justify-content-center align-items-center" id="{{article.id}}-removespinner">
                    <span class="spinner-grow text-danger " role="status"> </span> 
                    <span id="loadingtext" class=" ps-1 text-danger"> Removing... </span>
                </span>
                <button onclick="remove_mark('{{article.id}}');" id="{{article.id}}-removemark" class="badge badge-danger p-3 rounded-4">
                    <i class="fas fa-square-xmark"></i>
                    Delete bookmark
                </button>
                {% else %}
                <span class="visually-hidden d-flex badge badge-success p-3 rounded-4 justify-content-center align-items-center" id="{{article.id}}-addspinner">
                    <span class="spinner-grow text-success " role="status"> </span> 
                    <span id="loadingtext" class=" ps-1 text-success"> Adding... </span>
                </span>
                                    <button onclick="add_mark('{{article.id}}');" id="{{article.id}}-addmark" class="badge badge-success p-3 rounded-4">
                    <i class="far fa-bookmark"></i>
                                            Bookmark
                    </button>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'PureOpenAlex:single_article' article.id %}"  target ="_blank">
                Open detailed view</a></td>
            <td><a href="{{article.doi}}"  target ="_blank">{{article.doi}}<a></td>
            <td>{{article.title}}</td>
            <td>{{article.year}}</td>
            <td>{{article.itemtype}}</td>
            <td>
                {% if article.is_oa %}
                    {% if article.openaccess == 'gold' %}<span class="badge bg-warning">Gold</span>
                    {% elif article.openaccess == 'green' %}<span class="badge bg-success">Green</span>
                    {% elif article.openaccess == 'bronze' %}<span class="badge bg-info">Bronze</span>
                    {% elif article.openaccess == 'hybrid'%}<span class="badge bg-primary">Hybrid</span>
                    {% else %}<span class="badge bg-danger">{{openaccess}}</span>
                    {% endif %}

                {% else %}
                <span class="badge bg-danger">Not OA</span>
                {% endif %}
            </td>
            <td>
                {% if article.is_in_pure %}<span class="badge bg-success">Yes</span>{% else %}<span class="badge bg-danger">No</span>{% endif %}
            </td>
            <td>
                {% if article.has_pure_oai_match %}<span class="badge bg-success">Yes</span>{% else %}<span class="badge bg-danger">No</span>{% endif %}
            </td>
            <td>
                {% for location in article.preloaded_locations %}
                {% if location.pdf_url != "" %}
                <div>
                    <a href="{{ location.pdf_url }}"
                        class="{%if 'twente' in location.pdf_url %} fs-5 link-info {% elif location.is_oa %} link-success {% endif %}"  target ="_blank">
                            {% if 'twente' in location.pdf_url %} 
                            UTwente RIS Pure 
                            {% elif location.source.host_org %}
                            Hosted by {{location.source.host_org}} ({{location.source.type}})
                            {% else %}
                            Unknown host
                            {% endif %}
                        {% if location.is_oa %}
                            <i class="fas fa-lock-open"></i>
                        {% endif %}
                        {% if location.is_primary %}
                            <i class="far fa-star"></i>
                        {% endif %}
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for authorship in article.preloaded_authorships %}
                <span class="{% if authorship.author.is_ut %} text-info {% endif %}">{{authorship.author.name}}</span>, 
                {% endfor %}
            </td>
            <td>
                {% for authorship in article.preloaded_authorships|dictsort:"author.is_ut" %}
                {% if authorship.author.department is not None %}
                {% ifchanged %}
                <span>{{authorship.author.department}}{% if authorship.author.faculty not in faculty %}<span class="text-danger"> ({{authorship.author.faculty}})</span> {% endif %} </span>,
                {% endifchanged %}
                {% endif %}
                {% endfor %}
            </td>

        </tr>
    {% endfor %}
</tbody>
</table>

<div class="text-center">
    <span class="step-links">
        {% if articles.has_previous %}
        <span class=" badge badge-danger rounded-pill ">
            <a href="?page=1">&laquo; first</a> |
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        </span>

        {% endif %}

        <span class=" badge badge-info rounded-pill fs-6 ">
           - Page {{ articles.number }} of {{ articles.paginator.num_pages }} -
        </span>

        {% if articles.has_next %}
        <span class=" badge badge-success rounded-pill ">

            <a href="?page={{ articles.next_page_number }}">next</a> |
            <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
        </span>
        {% endif %}
    </span>
</div>

{% if faculty != 'Marked papers' %}
    <form>
        {% csrf_token %}
        <input type="text" class="visually hidden form-control" id="doi" name="doi" />

    </form>
{% endif %}
<script>

    $(document).ready(function() {
        $('#facultytable').DataTable( {
            paging: false,
            info: false,
            stateSave: true,
            searching:false


        })
    } );

    const delay = ms => new Promise(res => setTimeout(res, ms));
    const notification = document.getElementById("notification");
    const searchicon = document.getElementById("searchicon");
    const searchtext = document.getElementById("searchtext");
    const loadingspinner = document.getElementById("loadingspinner");
    const loadingtext = document.getElementById("loadingtext");
    const searchbutton = document.querySelector('#doi-search');
    const cleanup_spinner = document.getElementById("cleanup_spinner");
    const match_spinner = document.getElementById("match_spinner");

    
    function remove_mark(id){
        let link ="{% url 'PureOpenAlex:removemark' 1 %}".replace('1', id); 
        let spinner = document.getElementById(id+'-removespinner');
        let element = document.getElementById(id+'-removemark');
        element.innerText = "";
        spinner.classList.toggle("visually-hidden");
        $.ajax({
            type: "POST",
            url: link,
            data: {csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()},
            success: function(response) {
                    notification.textContent = response.message;
                    update_table();
                }
            });
    };

    function add_mark(id){
        let link ="{% url 'PureOpenAlex:addmark' 1 %}".replace('1', id); 
        let spinner = document.getElementById(id+'-addspinner');
        let element = document.getElementById(id+'-addmark');
        element.innerText = "";
        spinner.classList.toggle("visually-hidden");
        $.ajax({
            type: "POST", url: link, data: {csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()},
            success: function(response) {
                notification.textContent = response.message;
                update_table();
            } 
        }); 
    };

</script>
{% endspaceless %}
{% endblock %}

