{% extends 'base.html' %}
{% block content %}
{% spaceless %}
{% load static %}

{% include 'topbar.html' %}
{% if 'not found' in faculty %}
    <h2 class="col-md-12 text-center text-danger ps-5 mb-0"><hr class="hr hr-blurry" />
        {{faculty}}
    </h2>
{% elif faculty == 'Marked papers' %}
    <h4 class="col-md-12 text-center text-success ps-5 mb-0"><hr class="hr hr-blurry" />
        Workspace <hr class="hr hr-blurry" />
    </h4>
    <div class = 'text-center'>
        <a type='button' class="btn btn-danger fs-6" href="{% url 'PureOpenAlex:removeallmarks' %}">
        <i class="fas fa-recycle"></i> Remove all current bookmarks
        </a>
        <a type='button' class="btn btn-success fs-6" target="_blank" href="{% url 'PureOpenAlex:getris' %}">
        <i class="fas fa-file-export"></i> Export .ris file of all marked papers
        </a>
        <a type='button' class="btn btn-primary fs-6" target="_blank" href="{% url 'PureOpenAlex:getcsv' %}">
            <i class="fas fa-file-export"></i> Export .csv file with detailed data for all marked papers
        </a>
    </div>

{% else %}
    <h4 class="col-md-12 text-center text-primary ps-5 mb-0"><hr class="hr hr-blurry" />
        <div>{{faculty}}</div>

        {% if filter != 'all' %}<div>{% if filter is not None %} with filters: <span class='text-danger'>{% for j in filter %} {% for n in j %}{{n}}{% if not forloop.last %} - {% endif %} {% endfor %} {% if not forloop.last %} | {% endif %} {% endfor %} {% endif %} </span></div>{% endif %}
    <hr class="hr hr-blurry" />
    </h4>
    <div class="container-fluid justify-content-center align-items-center  w-50">
        <div id="doi-input" class="card justify-content-center ">
            <div class="card-header bg-warning bg-gradient " style="--mdb-bg-opacity: 0.9;">
                <h5 class="text-black ps-5 mb-0"><i class="far fa-keyboard"></i>  |  Control Panel</h5>
            </div>
            <div class="card-body text-dark bg-secondary bg-gradient" style="--mdb-bg-opacity: 0.4;">
                <p>This list contains {{stats.num}} items, of which {{stats.numoa}} are OA ({{stats.oa_percent}}%)</p>
                <p>{{stats.numpure}} of all these items have links to UT's RIS Pure in OpenAlex <span class='text-danger'>({{stats.numpure_percent}}%)</span>. </p>
                <p>{{stats.numarticles}} items have itemtype 'journal-article', of which {{stats.numarticlesoa}} are OA ({{stats.oa_percent_articles}}%) and {{stats.articlesinpure}} have links to UT's RIS Pure in OpenAlex <span class='text-danger'>({{stats.articlesinpure_percent}}%)</span>.</p>
                <button onclick="history.back()" class="btn btn-danger">Go back to main page</button>
            </div>
        </div>
    </div>

{% endif %}
</div>
<table id="facultytable" class='display' style="fill-opacity:0.5;">
{% include 'faculty_table.html' %}
</table>
{% if faculty != 'Marked papers' %}
<form>
{% csrf_token %}
<input type="text" class="visually hidden form-control" id="doi" name="doi" />

</form>
{% endif %}
<script>


    const delay = ms => new Promise(res => setTimeout(res, ms));
    const notification = document.getElementById("notification");
    const searchicon = document.getElementById("searchicon");
    const searchtext = document.getElementById("searchtext");
    const loadingspinner = document.getElementById("loadingspinner");
    const loadingtext = document.getElementById("loadingtext");
    const searchbutton = document.querySelector('#doi-search');
    const cleanup_spinner = document.getElementById("cleanup_spinner");
    const match_spinner = document.getElementById("match_spinner");


    function remove_mark(id){
        let link ="{% url 'PureOpenAlex:removemark' 1 %}".replace('1', id);
        let spinner = document.getElementById(id+'-removespinner');
        let element = document.getElementById(id+'-removemark');
        element.innerText = "";
        spinner.classList.toggle("visually-hidden");
        $.ajax({
            type: "POST",
            url: link,
            data: {csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()},
            success: function(response) {
                    let spinner = document.getElementById(id+'-removespinner');
                    let element = document.getElementById(id+'-removemark');
                    element.innerText = "Removed bookmark.";
                    spinner.classList.toggle("visually-hidden");
                }
            });
    };

    function add_mark(id){
        let link ="{% url 'PureOpenAlex:addmark' 1 %}".replace('1', id);
        let spinner = document.getElementById(id+'-addspinner');
        let element = document.getElementById(id+'-addmark');
        element.innerText = "";
        spinner.classList.toggle("visually-hidden");
        $.ajax({
            type: "POST", url: link, data: {csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()},
            success: function(response) {
                let spinner = document.getElementById(id+'-addspinner');
                let element = document.getElementById(id+'-addmark');
                element.innerText = "Added bookmark.";
                spinner.classList.toggle("visually-hidden");
            }
        });
    };

</script>
{% endspaceless %}
{% endblock %}