{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
  .htmx-fade {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

</style>
  {% include 'topbar.html' %}
  <div class='container pt-4 justify-content-center align-items-center'>
      <div class='row row-cols-1 row-cols-md-2 g-4 justify-content-center align-items-center'>
        <div class="col-md-6">
          <div class="card p-1  bg-info bg-gradient text-black border border-info" style="--mdb-bg-opacity: 0.2;">
            <div class="card-body">
              <h5 class="card-title text-info">Workspace</h5>
              <p class="card-text">
                <div class='fw-bold'>{{stats.numarticles}} items bookmarked</div>
                <div>{{stats.oa_percent}}% OA</div>
                <div >{{stats.articlesinpure_percent}}% has Pure link in OpenAlex and {{stats.articlesinpurematch_percent}}% has a match with a Pure OAI-PHM entry</div>
                <div><a href="{% url 'PureOpenAlex:faculty' 'marked' %}" class="btn btn-primary">Open workspace</a></div>
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>



{% endblock %}