{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
  .htmx-fade {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}


@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

</style>
<nav class="navbar fixed-top justify-content-center navbar-expand-lg navbar-dark bg-primary bg-gradient" id='navbarbuttons' style="z-index:4;">
    <div class="d-flex justify-content-center align-items-center ps-5">
      <a class="navbar-brand ps-2 pe-1 " href="{% url 'PureOpenAlex:home' %}">
        <img id='headerbigmuslogo' src="{% static 'MUSfulllogo.svg' %}" height="70" alt="Logo"/>
      </a>
      <h3 class='fw-bold text-black'>by</h3>
      <a class="navbar-brand  ps-3 pe-5" href="https://samuelmok.cc">
        <img src="{% static 'samuelmokcclogo.svg' %}" height="70" alt="Logo"/>
      </a>
    </div>
</nav>
<div class="row row-cols-2 row-cols-md-2 g-4 ">
  <div class="container-fluid justify-content-center align-items-center  w-50" style="padding-top: 100px">
    <div id="doi-input" class="card justify-content-center ">
      <div class="card-header bg-warning bg-gradient " style="--mdb-bg-opacity: 0.9;">
        <h5 class="text-black ps-5 mb-0"><i class="far fa-keyboard"></i>  |  Find or add items & authors</h5>
      </div>
      <div class="card-body text-dark bg-secondary bg-gradient" style="--mdb-bg-opacity: 0.4;">
          <div class="form-outline" data-mdb-input-init>
            {% csrf_token %}
            <input type="search" class="form-control" id="doi" name="doi" hx-get="/search/results/" hx-trigger="keyup changed delay:1s, doi" hx-target="#search-results" hx-indicator=".htmx-indicator" hx-swap='outerHTML' />
            <label class="form-label" id="doi-label" for="doi">Type doi, title, or author name to start searching...</label>
          </div>
          <div class='todo badge badge-danger fs-4'>TODO: add htmx to search result download btns -> display notification
          </div>
          <form id="myForm">
            <h3>
              <span class="htmx-indicator">
                <img src="{% static 'bars.svg' %}">
              </span>
            </h3>
            <div id="search-results">
            </div>
          </form>

          <div class='row'>
            <div class="col-6 ps-1 justify-content-center align-items-center">

              <div>
                <div class='todo badge badge-danger fs-4'>TODO: remove buttons in production version!</div>
                <button type='submit' id='cleanup' onclick="deleteDuplicates();" class="me-2 btn btn-warning">
                  Clean database errors (slow!)
                  <span id="cleanup_spinner" class=" ps-1 spinner-border spinner-border-sm visually-hidden" role="status"
                  aria-hidden="true"></span>
                </button>
                <button type='submit' id='match' class="me-2 btn btn-warning" onclick="matchPure();">
                  Match Pure Entries to Papers (slow!)
                  <span id="match_spinner" class=" ps-1 spinner-border spinner-border-sm visually-hidden" role="status"
                  aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class=" container-fluid w-50 align-items-center" style="padding-top: 75px">
    <div class="mt-4 mb-2  rounded-top-3 pt-3 pb-1 ps-5 bg-primary bg-gradient text-light">
      <h5><i class="fas fa-message"></i>  |  Notifications</h5>
      <div class='todo badge badge-danger fs-4'>TODO: replace js with htmx?? at least clean up how this thing looks</div>
      <div class='todo badge badge-danger fs-4'>TODO: instead of 1 msg display list of msgs, with scrollbar?</div>
    </div>
    <div class="text-wrap text-black fw-bold rounded-bottom-3 pt-5 pb-5 mt-4 mb-2 ps-3 w-50 fs-5" id="notification">
    </div>
  </div>
</div>

<div id='dbinfo' class='text-center '>
  {% include 'dbinfo.html' %}
</div>


<script>
    document.addEventListener('htmx:afterSettle', function(evt) {
        $('#facultytable').DataTable(
    );
  });



  const delay = ms => new Promise(res => setTimeout(res, ms));
  const notification = document.getElementById("notification");
  const cleanupSpinner = document.getElementById("cleanup_spinner");
  const matchSpinner = document.getElementById("match_spinner");
  const cleanupButton = document.querySelector('#cleanup');
  const matchButton = document.querySelector('#match');

  function toggleVisibility(...elements) {
    elements.forEach(element => {
      element.classList.toggle("visually-hidden");
    });
  }

  function updateNotification(status, message) {
    const statusClass = status === 'success' ? 'bg-success' : 'bg-warning';
    notification.classList.add(statusClass);
    notification.textContent = message;
    delay(5000).then(() => {
      notification.classList.remove(statusClass);
    });
  }

function add_article(id){
    let link ="{% url 'PureOpenAlex:addarticle' 1 %}".replace('1', id);
    let spinner = document.getElementById(id+'-spinner');
    let loadtext = document.getElementById(id+'-loading-text');
    let btntext = document.getElementById(id+'-add-text');
    btntext.innerText = "";
    spinner.classList.toggle("visually-hidden");
    loadtext.classList.toggle("visually-hidden");
    $.ajax({
        type: "POST", url: link, data: {csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()},
        success: function(response) {
            let spinner = document.getElementById(id+'-spinner');
            let loadtext = document.getElementById(id+'-loading-text');
            let btntext = document.getElementById(id+'-add-text');;
            loadtext.classList.toggle("visually-hidden");
            btntext.innerText = "Added item to MUS.";
            updateNotification(response.status, response.message);
            spinner.classList.toggle("visually-hidden");
        }
    });
};

 /* $(document).ready(function() {
    $('form').on('submit', async function(event) {
      event.preventDefault();
      const doi = $('#doi').val();
      const recheck = document.querySelector('#recheck').checked;
      try {
        const response = await $.ajax({
          type: 'POST',
          url: '',
          data: {
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            doi: doi,
            people: true,
            recheck: recheck
          }
        });

        $('#doi').val('');
        updateNotification(response.status, response.message);
      } catch (error) {
        console.error('An error occurred:', error);
      }
    });
  });*/

  async function deleteDuplicates() {
    const link = "{% url 'PureOpenAlex:delete_duplicates' %}";
    toggleVisibility(cleanupSpinner);
    cleanupButton.disabled = true;

    try {
      const response = await $.ajax({
        type: "POST",
        url: link,
        data: { csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() }
      });
      cleanupButton.disabled = false;
      toggleVisibility(cleanupSpinner);
      updateNotification('success', response.message);
    } catch (error) {
      console.error('An error occurred:', error);
    } finally {
      cleanupButton.disabled = false;
    }
  }

</script>
{% endblock %}