{% extends 'base.html' %}
{% block content %}
{% load replace %}
{% load static %}
{% load lowest %}
{% load highest %}

<div class="row bg-primary d-flex align-items-center justify-content-center text-center bg-gradient text-black" style="--mdb-bg-opacity: 0.5;">
	<div class='col-12'>
		<h3 class="text-black">{{ article.title }}</h1>
	</div>
	<h6 class='text-success'>
		<a href="{{ article.doi }}" target="_blank">
			{{ article.doi }}
		</a>
		//
		<a href="{{ article.openalex_url }}" target="_blank">
			{{ article.openalex_url }}
		</a>
	</h6>
	<div class='col-12'>
		{% if article.marked %}
			<span class="visually-hidden d-flex badge badge-danger p-3 rounded-4 justify-content-center align-items-center" id="{{article.id}}-removespinner">
				<span class="spinner-grow text-danger " role="status"> </span>
				<span id="loadingtext" class=" ps-1 text-danger"> Removing... </span>
			</span>
			<button onclick="remove_mark('{{article.id}}');" id="{{article.id}}-removemark" class="badge badge-danger p-3 rounded-4">
				<i class="fas fa-square-xmark"></i> Delete bookmark
			</button>
		{% else %}
			<span class="visually-hidden d-flex badge badge-success p-3 rounded-4 justify-content-center align-items-center" id="{{article.id}}-addspinner">
				<span class="spinner-grow text-success " role="status"> </span>
				<span id="loadingtext" class=" ps-1 text-success"> Adding... </span>
			</span>
			<button onclick="add_mark('{{article.id}}');" id="{{article.id}}-addmark" class="badge badge-success p-3 rounded-4">
				<i class="far fa-bookmark"></i> Bookmark
			</button>
		{% endif %}
		{% if article.pure_entries.all %}

		<a href="{% url 'PureOpenAlex:pure_entries' article.id %}" target="_blank" id="{{article.id}}-pureentries" class="button border border-black border-2 badge badge-primary p-3 rounded-4">
			<i class="fas fa-server me-1"></i> Found <span class="text-success fw-bolder">[{{ article.pure_entries.all|length }}]</span> related Pure item(s).
		</a>
		{% else %}
			<a href="{% url 'PureOpenAlex:pure_entries' article.id %}" target="_blank"><span class="badge badge-danger p-3 rounded-4">No Pure items found for this paper.</span><a>
		{% endif %}
		<a href="{% url 'PureOpenAlex:rawdata' article.id %}" target="_blank" id="{{article.id}}-rawdata" class="button border border-black border-2 badge badge-warning p-3 rounded-4">
			<i class="fas fa-sitemap"></i> View raw data for this item
		</a>
	</div>
</div>
<div class="row pt-2 ">
	<div class="col-sm-6">
		<div class="card bg-secondary bg-gradient text-black border border-primary" style="--mdb-bg-opacity: 0.2;" id="links-{{ article.id }}">
			<div class="card-header bg-warning bg-gradient " style="--mdb-bg-opacity: 0.7;">
				<h5 class="text-black ps-3 mb-0"><i class="fas fa-link"></i>  |  Links</h5>
				</div>

			<div class="card-body  ">
				<div class="row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-4 col badge badge-danger fs-4">DOI</div>
					<div class="col-md-6 col" >
							<div><a href="{{ article.doi }}"  class="fs-6 link-danger"  target ="_blank">{{ article.doi }}</a></div>
							<span class="all fs-6">{{ article.doi|cut:"https://doi.org/" }}</span>
					</div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-4 col badge badge-success fs-4">OpenAlex</div>
					<div class="col-md-6 col" >
						<div><a
						href="{{ article.openalex_url }}" class="fs-6 link-success"  target ="_blank">Open item in OpenAlex search</a></div>
						<div><a
							href='{{ article.openalex_url|replace:"https://openalex.org/|https://api.openalex.org/" }}' class="fs-6 link-success"  target ="_blank">Get complete OpenAlex API data</a></div>
					</div>
				</div>

				<div class="row mb-1 row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-4 col badge badge-primary fs-4">Primary
					</div>
					<div class="col-md-6 col" >
						<div><a href="{{ article.primary_link }}" class="fs-6 link-primary" target ="_blank">
							{{ article.primary_link }}</a></div>
					</div>
				</div>
				<hr class="hr hr-blurry" />
				<div class="row mb-1 row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-8 col badge badge-info fs-4">PDF locations</div>
				</div>
				{% for location in article.locations.all %}
					{% if location.pdf_url != "" %}
						<div class="pt-1">
							<a href="{{ location.pdf_url }}" class="{% if 'twente' in location.pdf_url %} link-danger {% elif location.is_oa %} link-success {% endif %} fs-6"  target ="_blank">
								{% if location.source.host_org != "" and location.source.host_org %} Hosted by {{location.source.host_org}} ({{location.source.type}}) {% elif 'twente' in location.pdf_url %} UT RIS/Pure {% else %}Unmarked PDF link: {{ location.pdf_url|truncatechars:20 }} {% endif %}
								{% if location.is_oa %}
									<i class="fas fa-lock-open"></i>
								{% endif %}
								{% if location.is_primary %}
									<i class="far fa-star"></i>
								{% endif %}
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="row pt-2 row-cols-sm-2 ">
	<div class="col">
		<div class="card h-100 bg-success bg-gradient text-black border border-success" style="--mdb-bg-opacity: 0.05;" id="main-info-{{ article.id }}">
			<div class="card-header bg-info bg-gradient " style="--mdb-bg-opacity: 0.7;">
				<h5 class="text-black ps-3 mb-0"><i class="far fa-note-sticky"></i>  |  General</h5>
			</div>
			<div class="card-body ">
				<span class="badge rounded-pill badge-notification bg-warning">crossref</span>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-primary fs-6"> Print Published</div>
					<div class="col-md-6 col" ><span class="fs-6 text-primary all"> {{ article.published_print }}</span></div>
				</div>
				<span class="badge rounded-pill badge-notification bg-warning">crossref</span>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-primary fs-6">Published online</div>
					<div class="col-md-6 col" ><span class="fs-6 text-primary all"> {{ article.published_online }}</span></div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-warning fs-6">Language</div>
					<div class="col-md-6 col" ><span class="fs-6 text-black all"> {{ article.published_online }}</span></div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-warning fs-6">Title</div>
					<div class="col-md-6 col" ><span class="fs-6 text-black all"> {{ article.title  }}</span></div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-danger fs-6">Pages</div>
					<div class="col-md-6 col" ><span class="fs-6 text-danger all"> {{ article.pages }}</span></div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-danger fs-6">Pagecount</div>
					<div class="col-md-6 col" ><span class="fs-6 text-danger all">{% if article.pagescount is not None %}{{ article.pagescount }} {% else %} No pagecount found. {% endif %}</span></div>
				</div>

				<h5 class="text-black fw-bold">Additional information</h5>

				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-success fs-6">OpenAlex date</div>
					<div class="col-md-6 col" ><span class="fs-6 text-success all">{{ article.date }}</span></div>
				</div>
				<span class="badge rounded-pill badge-notification bg-warning">crossref</span>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-primary fs-6">Published</div>
					<div class="col-md-6 col" ><span class="fs-6 text-primary all"> {{ article.published }}</span></div>
				</div>
				<span class="badge rounded-pill badge-notification bg-warning">crossref</span>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-primary fs-6">Issued</div>
					<div class="col-md-6 col" ><span class="fs-6 text-primary all"> {{ article.issued }}</span></div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-success fs-6">Item Type</div>
					<div class="col-md-6 col" ><span class="fs-6 text-success all">{{ article.itemtype }}</span></div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-success fs-6"># of citations</div>
					<div class="col-md-6 col" ><span class="fs-6 text-success all">{{ article.citations }}</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card h-100 bg-warning bg-gradient text-black border border-success" style="--mdb-bg-opacity: 0.05;" id="abstract-{{ article.id }}">
			<div class="card-header bg-success bg-gradient " style="--mdb-bg-opacity: 0.7;">
				<h5 class="text-black mb-0 ps-3"><i class="fas fa-circle-info"></i>  |  Abstract</h5>
			</div>
			<div class="card-body d-flex align-items-center justify-content-center">
				{% if article.abstract %}
				<span class="all fs-6">{{ article.abstract.strip }}</span>
				{% else %}
				No abstract found.
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class=" row pt-2">
	<div class="col-sm-12">
		<div class="card bg-secondary bg-gradient text-black border border-success" style="--mdb-bg-opacity: 0.05;" id="abstract-{{ article.id }}">
			<div class="card-header bg-primary bg-gradient " style="--mdb-bg-opacity: 0.5;">
				<h5 class="text-black mb-0 ps-3"><i class="fas fa-user-graduate"></i> |  Authors </h5>
			</div>
			<div class="card-body">
				<div class="htmx-slide container "
				style="display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: auto; grid-gap: 10px; ">

				<div class="row align-items-center justify-content-center text-center "><span class=" flex-shrink-1 badge badge-primary bg-gradient border fs-6"><i class="fas fa-user"></i>  |  Name</span></div>
				<div class="row align-items-center justify-content-center text-center"><span class=" flex-shrink-1 badge badge-primary bg-gradient border fs-6"><i class="fas fa-pen-nib"></i> | Authorship</span></div>
				<div class="row align-items-center justify-content-center text-center"><span class=" flex-shrink-1 badge badge-primary bg-gradient border fs-6"><i class="fas fa-graduation-cap"></i> | UT information</span></div>
				<div class="row align-items-center justify-content-center text-center"><span class=" flex-shrink-1 badge badge-primary bg-gradient  border fs-6"><i class="fas fa-landmark"></i> | Affiliations</span></div>
				{% for authorship in article.preloaded_authorships %}
					{% for author in article.preloaded_authors %}
						{% if author.id == authorship.author.id%}
							<div class="row align-items-center justify-content-center text-center">
									{% if author.utdata %}
										<div class='me-auto float-start align-self-center'><img class="img-fluid rounded-pill rounded-5 shadow-5" src="{% static author.utdata.avatar_path %}" style="width: 80px; height: 80px;"></div>
									{% else %}
										<div class='me-auto  float-start align-self-center'><img class="img-fluid rounded-pill rounded-5 shadow-5" src="{% static 'author_avatars\default_avatar.png' %}" style="width: 80px; height: 80px;"></div>
									{% endif %}
									<div class='d-inline float-end'>
										<div><span class="all badge flex-shrink text-wrap badge-info fs-6">{{ author.name }}</span> </div>
										<div><span class="text-warning flex-shrink text-wrap font-monospace all">{{ author.first_name }}</span><span> </span><span class="text-primary  font-monospace flex-shrink text-wrap all">{{ author.middle_name }}</span><span> </span><span class="text-success flex-shrink text-wrap font-monospace all">{{ author.last_name }}</span></div>
										<div><span class="text-danger flex-shrink text-wrap font-monospace all">{{ author.initials }}</span><span> </span><span class="text-success flex-shrink text-wrap font-monospace all">{{ author.last_name }}</span></div>
									</div>
							</div>
							<div class="row align-items-center justify-content-center text-center">
								<div>
									{% if authorship.corresponding %} <div
										class="all badge badge-success rounded-pill">corresponding</div>{% endif %}
									<span class="all badge badge-info rounded-pill">{{ authorship.position }}
										author</span>
								</div>
							</div>
							<div class="row text-wrap d-flex align-items-center justify-content-center text-center">
								<div class='w-75'>
									{% if author.utdata %}
										<div class="all badge text-center justify-content-center badge-danger rounded-pill">
											<i class="me-1 fas fa-envelope fa-lg"></i> {{author.utdata.email}}
										</div>
										<div class="all badge text-center justify-content-center badge-info rounded-pill">
											<i class="me-1 fas fa-briefcase"></i> {{author.utdata.current_position}}
										</div>
										<div class=" all badge text-center justify-content-center badge-secondary rounded-pill ">
											<i class="me-1 fas fa-landmark"></i> {{author.utdata.current_group}} | ({{author.utdata.current_faculty}})
										</div>
									{% else %}
										<div class=" badge badge-danger rounded-pill">No UT data found</div>
									{% endif %}
								</div>
							</div>
							<div class=" row flex-shrink-1 align-items-center justify-content-center text-center">
								<div>
								{% for affiliation in author.affiliations.all %}
										{% if 'Twente' in affiliation.organization.name %}
											<div class="all badge badge-info">
												{% if  affiliation.years|lowest == affiliation.years|highest %}
													{{ affiliation.organization.name }} | {{ affiliation.years|lowest }}
												{% else %}
													{{ affiliation.organization.name }} | {{ affiliation.years|lowest }} - {{ affiliation.years|highest }}
												{% endif %}
											</div>
										{% endif %}
								{% endfor %}
								<div>
									<a id='moreaffilsbtn-{{ author.id }}' class="moreaffils btn btn-sm btn-secondary" hx-get="{% url 'PureOpenAlex:affiliations' author.id %}" hx-target="#affiliations-{{ author.id }}" hx-swap='innerHTML transition:true'>
										Click to show all affiliations (total: {{ author.affils.count }})
									</a>
								</div>
								<div id='affiliations-{{ author.id }}'>
								</div>
								</div>
							</div>
							<hr class="hr hr-blurry" style="grid-column: 1/-1;" />
						{% endif %}
					{% endfor %}
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row pt-2">
	<div class="col-sm-4">
		<div class="card bg-secondary bg-gradient text-black border border-success" style="--mdb-bg-opacity: 0.05;" >
			<div class="card-header bg-danger bg-gradient " style="--mdb-bg-opacity: 0.5;">
				<h5 class="text-black mb-0 ps-3"><i class="fas fa-book"></i> |  Journal</h5>
			</div>
			<div class="card-body">
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-success fs-6">Title</div>
					<div class="col-md-6 col" ><span class="fs-6 text-success all"> {{ article.journal.name }}</span></div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-danger fs-6"> ISSN </div>
					<div class="col-md-6 col" ><span class="fs-6 text-danger all"> {{ article.journal.issn }}</span></div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-danger fs-6"> eISSN </div>
					<div class="col-md-6 col" ><span class="fs-6 text-danger all"> {{ article.journal.eissn }}</span></div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-primary fs-6"> Publisher </div>
					<div class="col-md-6 col" ><span class="fs-6 text-primary all"> {{ article.journal.host_org }}</span></div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-info fs-6"> Volume </div>
					<div class="col-md-6 col" ><span class="fs-6 text-info all"> {{ article.volume }}</span></div>
				</div>
				<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					<div class="col-md-6 col badge badge-info fs-6"> Issue</div>
					<div class="col-md-6 col" ><span class="fs-6 text-info all"> {{ article.issue }}</span></div>
				</div>

			</div>
		</div>

	</div>
</div>
<div class="row pt-2">
	<div class="col col-sm-6">
		<div class="card h-100 bg-secondary bg-gradient text-black border border-success" style="--mdb-bg-opacity: 0.05;" >
			<div class="card-header bg-success bg-gradient " style="--mdb-bg-opacity: 0.5;">
				<h5 class="text-black mb-0 ps-3"><i class="fas fa-unlock"></i> |  OA Info  </h5>
			</div>
			<div class="card-body  justify-content-center  ">

				<div class="row mb-1 row-cols-2 row-cols-md-2 justify-content-center  ">
					<div class="col-md-8 col badge badge-info fs-4">Journal Browser data</div>
				</div>
				<hr class="hr hr-blurry" />


					<div class="row bg-secondary" style="--mdb-bg-opacity: 0.2;">
						<div class="col col-sm-6 d-flex flex-wrap ">
							<a href="{{ deal.jb_url }}" target="_blank"><div class=" col-12 all text-black fw-bold text-decoration-underline fs-6">{{ article.journal.name }}</div></a>
								<div class=" col-12 all "> {{ article.journal.dealdata.publisher }}</div>
								<div class=" col-12 "> ISSN: <span class="all">{{ article.journal.issn }}</span><span class="all"> ({{ article.journal.eissn }})</span></div>
								<div class="col-12 fw-light" style="font-size: 0.8rem;"> {% for keyword in article.journal.keywords %}<span class="all">{{ keyword }}</span> -{% endfor %}</div>
						</div>
						<div class="col h-100 text-end" >
							<a href="{{ deal.jb_url }}" target="_blank">
								{% if article.journal.dealdata.oa_type == "Hybrid Open Access. Journal supports Open Access publishing on request" %}
									<img src="{% static 'openrequest.svg' %}" height="100" alt="hybrid"/>
								{% elif article.journal.dealdata.oa_type == "Full Open Access. All articles in this journal are Open Access" %}
									<img src="{% static 'openaccess.svg' %}" height="100" alt="gold"/>
								{% endif %}
								<div class="all text-decoration-underline fw-bold " style="color:#5a5e62; font-family:verdana,sans-serif">{{ article.journal.dealdata.deal_status }}</div>
							</a>
						</div>
					</div>
				<hr class="hr hr-blurry" />
				<div class="row mb-1 row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
					{% if article.is_oa %}
						<div class="col-md-8 col badge badge-success fs-4">Item is Open Access</div>
					{% else %}
						<div class="col-md-8 col badge badge-danger fs-4">Item is NOT Open Access</div>
					{% endif %}
				</div>
						<div class="text-center {% if article.is_oa %}bg-success{% else %}bg-danger{% endif %}" style="--mdb-bg-opacity: 0.2;">
							{% if article.openaccess == "green" %}
							<span class="badge rounded-pill badge-success fs-6"><i class="fas fa-tree"></i>
								{{ article.openaccess }}</span>
							{% endif %}
							{% if article.openaccess == "gold" %}
							<span class="badge rounded-pill badge-warning fs-6"><i class="fas fa-crown"></i>
								{{ article.openaccess }}</span>
							{% endif %}

							{% if article.openaccess == "bronze" %}
							<span class="badge rounded-pill badge-warning fs-6"><i class="fas fa-medal"></i>
								{{ article.openaccess }}</span>
							{% endif %}

							{% if article.openaccess == "closed" %}
							<span class="badge rounded-pill badge-primary fs-6"><i class="fas fa-lock"></i>
								{{ article.openaccess }}</span>
							{% endif %}

							{% if article.openaccess == "hybrid" %}
							<span class="badge rounded-pill badge-info fs-6"><i
									class="fas fa-mortar-pestle"></i> {{ article.openaccess }}</span>
							{% endif %}

						{% if article.license != "" %} <div class="text-center"><span class="fw-bold">License:</span><span>
								{%if "cc" in article.license %}<i
									class="fab fa-creative-commons"></i>{% endif %}
									<span class="all">{{ article.license }}</span></span></div> {% else %}<div class="text-center">No license info found.</div> {% endif %}
						</div>
						<hr class="hr hr-blurry" />
						<div class="row mb-1 row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
							<div class="col-md-8 col badge badge-warning fs-4">Taverne & 'UT-keyword' information</div>
						</div>
						<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
							<div class="col-md-6 col badge badge-primary fs-6"> Taverne date </div>
							<div class="col-md-6 col" ><span class="fs-6 text-primary all">  {{ article.taverne_date }} (+/-)</span></div>
						</div>
						<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
							<div class="col-md-6 col badge badge-info fs-6"> Suggested UT-keyword </div>
							<div class="col-md-6 col" ><span class="fs-6 text-info all"> {{ article.ut_keyword_suggestion }}</span></div>
						</div>
						<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
							<div class="col-md-6 col badge badge-info fs-6"> Detected Pure UT-keyword  </div>
							<div class="col-md-6 col" ><span class="fs-6 text-info all">  {{article.pure_entries.first.ut_keyword }} </span></div>
						</div>
						<hr class="hr hr-blurry" />
						<div class="row mb-1 row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
							<div class="col-md-8 col badge badge-danger fs-4">APC Costs</div>
						</div>
						{% if article.apc_listed_value > 0 %}
							<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
								<div class="col-md-6 col">
									<div class="fw-bold text-center">Listed Value </div>
									<div class="text-center"><i
											class="fas fa-euro-sign me-2 text-warning all">{{ article.apc_listed_value_eur }}</i> |
										<i
											class="fas fa-dollar-sign me-2 text-warning all">{{ article.apc_listed_value_usd }}</i>
									</div>
									<div class="text-center"><i class="fas fa-receipt me-2 text-warning"></i>Original value:
										<span class="all">{{ article.apc_listed_value }}</span> in
										{{ article.apc_listed_currency }}
									</div>
								</div>
								<div class="col-md-6 col">
									<div class="fw-bold text-center">Paid Value </div>
									<div class="text-center"><i
											class="fas fa-euro-sign me-2 text-danger all">{{ article.apc_paid_value_eur }}</i> |
										<i
											class="fas fa-dollar-sign me-2 text-danger all">{{ article.apc_paid_value_usd }}</i>
									</div>
									<div class="text-center"><i class="fas fa-receipt me-2 text-danger"></i>Original value:
										<span class="all">{{ article.apc_paid_value }}</span> in {{ article.apc_paid_currency }}
									</div>
								</div>
							</div>
						{% else %}
							<div class="mb-1 row row-cols-2 row-cols-md-2 justify-content-center text-center align-items-center">
								<div class="col-md-12 col">
									<div class="fw-bold text-center text-danger">No OpenAlex APC information found </div>
								</div>
							</div>
						{% endif %}

			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card h-100  bg-secondary bg-gradient text-black border border-success" style="--mdb-bg-opacity: 0.05;" >
			<div class="card-header bg-warning bg-gradient " style="--mdb-bg-opacity: 0.5;">
				<h5 class="text-black mb-0 ps-3"><i class="fas fa-thumbtack"></i> |  Locations </h5>
			</div>
			<div class="card-body d-flex align-items-center justify-content-center">
				<ul class="list-group list-group-light">
					{% for location in article.preloaded_locations %}
					<li class="list-group-item fs-6">

						<div class="mb-1 row row-cols-1 row-cols-md-12 justify-content-center text-center align-items-center">

							<div class=' col-md-12 text-wrap'>
								{% if location.is_primary %}
								<span class="text-start badge fs-6 rounded-pill badge-primary">
									Primary location
								</span>
								{% endif %}
								<span class="text-center badge badge-danger text-wrap fs-5 all">{%if location.source.display_name is not None%}{{location.source.display_name|truncatechars:50 }}{% elif 'twente' in location.pdf_url %} UT RIS/Pure {%else%}No name found{%endif%}</span>
								{% if location.is_best_oa %}
								<div class="text-end badge fs-6 rounded-pill badge-success">
									Best OA Location
								</div>
								{% endif %}
							</div>

							<div class="col">
								<a href="{{ location.source.homepage_url }}">
									{{ location.source.homepage_url }}
								</a>
							</div>
						</div>

						<div class="row  row-cols-2 ">
							<div class="col-md-1 col  ">
								{% if location.is_accepted or location.is_published %}
								<span class="badge rounded-pill badge-primary"> <i class="fas fa-check"></i>
									Publisher accepted</span>
								{% endif %}
								{% if location.is_oa %}
								<span class="badge rounded-pill badge-success"> <i
										class="fas fa-lock-open"></i> Open Access </span>
								{% endif %}
								{% if location.source.is_in_doaj %}
								<span class="badge rounded-pill badge-info"> <i class="fas fa-leaf"></i> DOAJ
								</span>
								{% endif %}
							</div>
							<div class="col-md-11 text-end ">
								{% if location.source.host_org %}
								{% if 'journal' in location.source.type %}
									<div class="badge badge-info fs-6">Journal published by {{ location.source.host_org }}</div>
								{% elif 'repository' in location.source.type %}
									<div class="badge badge-success fs-6">Repository hosted by {{ location.source.host_org }}</div>
								{% else %}
									<div class="badge badge-info fs-6">{{ location.source.type }} published by {{ location.source.host_org }}</div>
								{% endif %}
								{% if location.source.issn %}
									<div class="ms-4"> ISSN: <span class="all">{{ location.source.issn }}</span></div>
								{% endif %}
								{% endif %}
								{% if location.license %}
								<div>
									<span class="ms-4 fw-bold">License: </span><span class='all'>{{ location.license }}</span>
								</div>
								{%endif%}
							</div>
							<div class="col-md-12 align-center justify-content-center text-center">
								<div class="fw-bold">
									<i class="fas fa-book-open"></i> Landing page
								</div>
								<div class="ms-4">
									<a href="{{ location.landing_page_url }}" class="text-wrap">
										{{ location.landing_page_url|truncatechars:40 }}
									</a>
								</div>
								{% if location.source.openalex_url != "" and  location.source.openalex_url is not None %}
									<div class="fw-bold"><i class="fas fa-database"></i> OpenAlex source information</div>
									<div class="ms-4"><a
											href="{{ location.openalex_url }}">{{ location.source.openalex_url|truncatechars:40  }}</a>
									</div>
								{% endif %}
							</div>
						</div>


					</li>
					{% endfor %}

				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row pt-2">
	<div class="col-sm-8">
		<div class="card bg-secondary bg-gradient text-black border border-success" style="--mdb-bg-opacity: 0.05;" >
			<div class="card-header bg-info bg-gradient " style="--mdb-bg-opacity: 0.5;">
				<h5 class="text-black mb-0 ps-3"><i class="fas fa-tags"></i>  |  Keywords </h5>
			</div>
			<div class="card-body ">
				<ul class="list-group list-group-light">
					<li class="list-group-item">
						<div class="fw-bold"><span class="text-success">Article</span> Topics</div>
							<div>
								{% for topic in article.topics %}
									{% for key, value in topic.items %}
										{% if key == 'field' %}
											{% for key, value in value.items %}
											{% if key == 'display_name' %}
											<div class=" all">Field: {{ value }}</div>
											{% endif %}
											{% endfor %}
										{% endif %}
										{% if key == 'domain' %}
											{% for key, value in value.items %}
											{% if key == 'display_name' %}
											<div class="ms-2 all">Domain: {{ value }}</div>
											{% endif %}
											{% endfor %}
										{% endif %}
										{% if key == 'subfield' %}
											{% for key, value in value.items %}
											{% if key == 'display_name' %}
											<div class="ms-3 all">Subfield: {{ value }}</div>
											{% endif %}
											{% endfor %}
										{% endif %}
										{% if key == 'display_name' %}
											<div class="ms-5"><span class='fw-bolder'>Topic |</span> <span class='all'>{{ value }}</span></div>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</div>
						</div>
					</li>
				</ul>
				<ul class="list-group list-group-light">
					<li class="list-group-item">
						<div class="fw-bold"><span class="text-success">Article</span> Keywords</div>
						{% for keyword in article.keywords.items %}
						{% for key, value in keyword.items %}
						{% if key == 'display_name' %}
						<span class="all">{{ value }}</span>,
						{% endif %}
						{% endfor %}
						{% endfor %}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<form>
	{% csrf_token %}
	<input type="text" class="visually-hidden form-control" id="doi" name="doi" />

</form>
<script>
	function remove_mark(id){
        let link ="{% url 'PureOpenAlex:removemark' 1 %}".replace('1', id);
        let spinner = document.getElementById(id+'-removespinner');
        let element = document.getElementById(id+'-removemark');
        element.innerText = "";
        spinner.classList.toggle("visually-hidden");
        $.ajax({
            type: "POST",
            url: link,
            data: {csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()},
            success: function(response) {
                    let spinner = document.getElementById(id+'-removespinner');
                    let element = document.getElementById(id+'-removemark');
                    element.innerText = "Removed bookmark.";
                    spinner.classList.toggle("visually-hidden");
                }
            });
    };

    function add_mark(id){
        let link ="{% url 'PureOpenAlex:addmark' 1 %}".replace('1', id);
        let spinner = document.getElementById(id+'-addspinner');
        let element = document.getElementById(id+'-addmark');
        element.innerText = "";
        spinner.classList.toggle("visually-hidden");
        $.ajax({
            type: "POST", url: link, data: {csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()},
            success: function(response) {
                let spinner = document.getElementById(id+'-addspinner');
                let element = document.getElementById(id+'-addmark');
                element.innerText = "Added bookmark.";
                spinner.classList.toggle("visually-hidden");
            }
        });
    };

	document.addEventListener('htmx:afterRequest', function(evt) {
		let classlist = evt.detail.elt.classList;
		if (classlist.contains('moreaffils')) {
			classlist.toggle('visually-hidden');
		}
		else {
			let targetid = evt.detail.target.id.replace('affiliationdetails', 'moreaffilsbtn');
			let newclasslist = document.getElementById(targetid).classList;
			if (newclasslist.contains('moreaffils')) {
				newclasslist.toggle('visually-hidden');
			}


		}


	});


</script>
{% endblock %}